@media (max-width: 767px) {
  h1 {
    font-size: 4.5em;
  }
  h2 {
    font-size: 3em ;
  }
  h3{
    font-size: 2.7em;
  }
  h4 {
    font-size: 2em;
  }
  .infoProject, #personalInfo {
    margin-top: 0.5em;
  }
  .infoProject p, #personalInfo p, #cvButton a{
    font-size: 1em;
  }
  .infoProject .imageProject, .fp-controlArrow  {
    display: none;
  }
  #cvButton{
    margin-top: 0.5em;
  }
  #cvButton a {
    margin: 10px 5px;
  }
  .usedTechnologies {
    margin-top: 1em;
    padding-bottom: 0.5em;
  }
  .usedTechnologies .gray, .projectLink .gray {
    margin: 0;
  }
  .contactPoint {
    margin: 15px 5px;
  }
}
